@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  cursor: none;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35)); */
  /* background-image: radial-gradient(rgb(124, 130, 194), rgb(122, 127, 186), rgb(121, 123, 177), rgb(119, 120, 169), rgb(117, 117, 160), rgb(115, 114, 152), rgb(114, 110, 143), rgb(112, 107, 135), rgb(110, 104, 126), rgb(108, 101, 118), rgb(107, 97, 109), rgb(105, 94, 101)); */

  background-image: radial-gradient(rgb(124, 130, 194), rgb(122, 123, 184), rgb(119, 117, 174), rgb(117, 110, 163), rgb(115, 103, 153), rgb(113, 97, 143), rgb(110, 90, 133), rgb(108, 84, 123), rgb(106, 77, 113), rgb(104, 70, 102), rgb(101, 64, 92), rgb(99, 57, 82));
}
